mat-list-item {
  border-bottom: thin solid #555;
}

.comments-row {
  display: flex;
  border-top: thin solid #555;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;
}

mat-form-field {
  width: 90%;
}

.comments-row {
  display: flex;
  border-top: thin solid #555;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  mat-form-field {
    flex: 1;
  }
}

mat-list {
  h2 {
    margin-bottom: 1rem;
  }
}

.list-item-animated {
  transform: scale(1);
  background-color: white;
  z-index: 1;
  transition: all 500ms ease-in-out;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    transform: scale(1.02);
    background-color: rgb(201, 157, 242);
    z-index: 2;
    transition: all 100ms ease-in-out;
  }
}

.enter-animation {
  @for $i from 1 through 20 {
    &:nth-child(#{$i}) {
      animation-delay: #{($i - 1) * 50}ms;
    }
  }

  animation: slide-fade 1.25s ease-out forwards;

  .comment-text {
    animation: slide-fade-span 500ms ease-out forwards;
    animation-delay: 250ms;
    opacity: 0;
  }

  .comment-date {
    animation: slide-fade-span 500ms ease-out forwards;
    animation-delay: 500ms;
    opacity: 0;
  }
}

@keyframes slide-fade {
  0% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: rgb(248, 189, 149);
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    background-color: white;
  }
}

@keyframes slide-fade-bg {
  from {
    background-color: rgb(248, 189, 149);
  }
  to {
    background-color: white;
  }
}

@keyframes slide-fade-span {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
